/.idea/libraries/
/jshell/target/
/lsp/
/thevpc-common-app-swing-dock-mydoggy/target/
/thevpc-common-app-swing/target/
/thevpc-common-app-swings/target/
/thevpc-common-app-swingx/target/
/thevpc-common-app/target/
/thevpc-common-classpath/target/
/thevpc-common-CmdLine/target/
/thevpc-common-config/target/
/thevpc-common-cron/target/
/thevpc-common-desktop-automation/target/
/thevpc-common-diff-jar/target/
/thevpc-common-diffCommand-jar/target/
/thevpc-common-docusaurus/target/
/thevpc-common-docusaurus/thevpc-common-docusaurus.iml
/thevpc-common-file-template/target/
/thevpc-common-file-template/thevpc-common-file-template.iml
/thevpc-common-fprint/target/
/thevpc-common-i18n/target/
/thevpc-common-iconset-default/target/
/thevpc-common-iconset/target/
/thevpc-common-io-compress/target/
/thevpc-common-io-compress/thevpc-common-io-compress.iml
/thevpc-common-io/target/
/thevpc-common-io/thevpc-common-io.iml
/thevpc-common-java-shell/target/
/thevpc-common-jeep/jeep/jeep.iml
/thevpc-common-jeep/target/
/thevpc-common-jshell/target/
/thevpc-common-lanterna/target/
/thevpc-common-ljson/target/
/thevpc-common-ljson/thevpc-common-ljson.iml
/thevpc-common-log/target/
/thevpc-common-log2/target/
/thevpc-common-md-asciidoctor/target/
/thevpc-common-md-asciidoctor/thevpc-common-md-asciidoctor.iml
/thevpc-common-md-doc/target/
/thevpc-common-md-doc/thevpc-common-md-doc.iml
/thevpc-common-md-docusaurus-to-asciidoctor/target/
/thevpc-common-md-docusaurus-to-asciidoctor/thevpc-common-md-docusaurus-to-asciidoctor.iml
/thevpc-common-md-docusaurus/target/
/thevpc-common-md-docusaurus/thevpc-common-md-docusaurus.iml
/thevpc-common-md/target/
/thevpc-common-md/thevpc-common-md.iml
/thevpc-common-monitor/target/
/thevpc-common-msg/target/
/thevpc-common-mvn/target/
/thevpc-common-mvn/thevpc-common-mvn.iml
/thevpc-common-nuts-template/target/
/thevpc-common-prop-binding/target/
/thevpc-common-props/target/
/thevpc-common-prs/target/
/thevpc-common-sql/target/
/thevpc-common-ssh/target/
/thevpc-common-ssh/thevpc-common-ssh.iml
/thevpc-common-strings/target/
/thevpc-common-strings/thevpc-common-strings.iml
/thevpc-common-swing-iconset-default/target/
/thevpc-common-swing-prs/target/
/thevpc-common-swings-app-dock-mydoggy/target/
/thevpc-common-swings-app/target/
/thevpc-common-swings-iconset-default/target/
/thevpc-common-swings-iconset-default/target/classes/
/thevpc-common-swings-iconset/target/
/thevpc-common-swings-plaf/target/
/thevpc-common-swings-prs/target/
/thevpc-common-swings/target/
/thevpc-common-text-source-log/target/
/thevpc-common-text-source/target/
/thevpc-common-text-template/target/
/thevpc-common-time/target/
/thevpc-common-tson/target/
/thevpc-common-utils/target/
/thevpc-common-utils/thevpc-common-utils.iml
/thevpc-common-vfs/target/
/thevpc-common-web-jsf/target/
/thevpc-common-web-xml/target/
/thevpc-common-xfile/target/
/thevpc-common-xfile/thevpc-common-xfile.iml
/thevpc-common-collections/target/
/thevpc-common-iterators/target/
/thevpc-common-plaf/target/
/thevpc-common-swing/target/
/thevpc-common-commandline/target/
/thevpc-common-commandline/thevpc-common-CmdLine.iml
/.idea/
/.idea/
/thevpc-common-time/thevpc-common-time.iml
